/* 
    how is css file structured?
    1- Variables (ln 38- 60): starting with the :root to set ovr variables, Such as colors, font sizes, and font family(ies).
    2- Reset (ln 62 - 141): this section is for resetting css accross browsers 
    3- Utility Classes (ln 143 - 296) : startig from this section you will find classes that will usually come in handy, you will find different layouts, font-sizes, letter-spacing, back grounod colors
*/

/* 
    Notice: our website is mobile oriented, which means we start with mobile in mind first, then we adjust our design for PC and Tablet
    accordingly.

    -and this also means we tend to favour (min-width) over (max-width) in @media breakpoints.
    -Our breakpoints are:   *For Pc=>  min-width: 45rem
                            *For Tablet=> min-width: 35rem
                            *mobile is our default
*/

/* 
    RESPOSIVNESS
    Notice:
    *Try not to use fixed properties such as "width,.." instead use "min-width, max-width, ...".
    *Never set height unless it is absolutly neccesary.
    *Use rem and em instead of pixels, unless you are setting very small value to a property that does not affect the layout,
    such as box-shadow inset, or outline..,etc.
*/

/* 
    ACCESSIBILITY 
    * Make sure to set alt for every image you include.
    * Setting measurements in em & rem is also for accessibility purposes (they do not override users' browser prefferences)
    * set a title for every icon that does not have a visible text next to it and give it class "sr-only" this way screen readers 
    can indicate what these icons are for.
    * Make sure your headings (h1,h2,h3...,h6) follow content logical heircy. and use them for text sizing instead us fs-.. classes
    (fs-200, fs-300, fs-400, ..., fs-900)
*/

/* --------- */

/* Variables */

/* --------- */

:root {
  /* Colors */
  --clr-black: 0 0 0;
  --clr-dark: 55 56 60;
  --clr-accent: 255 203 5;
  --clr-white: 255 255 255;
  --clr-danger: 255 0 0;
  /* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  /* font-families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* ----- */

/* Reset */

/* ----- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Set the heading Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: var(--fs-400);
}

/* Set up the body */

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background-color: rgb(var(--clr-white));
  color: rgb(var(--clr-dark));
  display: grid;
  grid-template-rows: min-content 1fr;
  overflow-x: hidden;
}

/* Facilitate working with images */

img,
picture {
  max-width: 100%;
  display: block;
}

/* Facilitate working with form elements */

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove animatinos for people who've turned them off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 00.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */

/* Utility Classes */

/* --------------- */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.d-block {
  display: block;
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  padding-inline: 1rem;
}

.grid-container * {
  max-width: 50ch;
}

/*///////////////////////////pc/////////////*/

@media (min-width: 45em) {
  .grid-container {
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 50rem)) minmax(
        1rem,
        1fr
      );
    text-align: left;
  }
  .grid-container > *:first-child {
    grid-column: 2;
  }
  .grid-container > *:last-child {
    grid-column: 3;
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
  }
  .mainscreen_sign {
    width: 98vw;
    height: 95vh;
    background-color: rgb(255, 203, 5);
    margin: auto;
    margin-top: 2.5vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainscreen_leftpart_sign {
    width: 49vw;
    height: 95vh;
    background-color: rgb(255, 203, 5);
  }
  .mainscreen_rightpart_sign {
    width: 49vw;
    height: 95vh;
    background-color: rgb(var(--clr-white));
    border-radius: 20px 5px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(var(--clr-white));
  }
  .form_div_class {
    width: 47vw;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .form_div_class_2items {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .title {
    font-size: var(--fs-600);
    font-family: var(--ff-serif);
    width: 40%;
    height: 50px;
    background-color: rgb(var(--clr-accent));
    color: rgb(var(--clr-black));
    text-align: center;
    border-radius: 10px;
  }
  .submitcolor {
    background-color: rgb(var(--clr-accent));
    border-radius: 10px;
  }
  .nonsubmitcolor {
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    color: rgb(var(--clr-white));
  }
  .title_button_color {
    background-color: rgb(var(--clr-white));
    border-radius: 10px;
    color: rgb(var(--clr-black));
    box-shadow: 0 4px 8px 0 rgba(var(--clr-black) / 0.2),
      0 6px 20px 0 rgba(var(--clr-black) / 0.19);
    height: 50px;
  }
  .bar_signup {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(var(--clr-black));
  }
  .f_bar {
    width: 40%;
    height: 1px;
    background-color: gray;
  }
  .signlink {
    align-self: flex-start;
    margin-left: 20px;
  }
  /* //////////////left part///////// */
  .leftpart_logo {
    width: 100%;
    height: 100%;
  }
  /*////////////////cheackout//////*/
  .mian_cheackout {
    width: 70vw;
    height: 90vh;
    background-color: rgb(255, 203, 5);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(var(--clr-black) / 0.2),
      0 6px 20px 0 rgba(var(--clr-black) / 0.19);
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .child_cheackout {
    width: 60%;
    height: 80%;
    background-color: rgb(var(--clr-white));
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(var(--clr-black) / 0.2),
      0 6px 20px 0 rgba(var(--clr-black) / 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
  }
  .proces {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
  .linespace {
    width: 25%;
    height: 3px;
    background-color: rgb(var(--clr-black));
  }
  .form_div_class_checkout {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: auto;
  }
  /* //////////////done order */
  .correct {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*///////////////////////////*/

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* Added line*/
  border: 0;
}

/* Colors */

.bg-dark {
  background-color: rgb(var(--clr-dark));
}

.bg-light {
  background-color: rgb(var(--clr-accent));
}

.bg-white {
  background-color: rgb(var(--clr-white));
}

.txt-dark {
  color: rgb(var(--clr-dark));
}

.txt-light {
  color: rgb(var(--clr-accent));
}

.txt-white {
  color: rgb(var(--clr-white));
}

/* typography */

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-sans-normal {
  font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}

.letter-spacing-2 {
  letter-spacing: 2.7px;
}

.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* Font weights */

.fw-bold {
  font-weight: bold;
}

/* -------------------- */

/* Pages specific style */

/* -------------------- */

/* Products page */

#products-page {
  flex-direction: column;
  --gap: 0;
  min-height: 100vh;
}

@media (min-width: 45rem) {
  #products-page {
    flex-direction: row;
  }
}

#search-filters {
  flex: 0.25;
  flex-direction: column;
  gap: 0.3rem;
  background-color: rgb(var(--clr-white));
  margin: auto;
  padding: 1rem;
  width: 90%;
  height: 100%;
}

@media (min-width: 40rem) {
  #search-filters {
    border-right: 2px solid rgb(var(--clr-dark) / 0.05);
    padding-top: 5rem;
  }
}

details {
  position: relative;
}

summary {
  cursor: pointer;
  background-color: rgb(var(--clr-accent));
  border-radius: 0.3rem;
  padding: 0.3rem;
  padding-inline: 2rem;
}

details section {
  padding: 1rem;
}

label {
  cursor: pointer;
}

hr {
  height: 1px;
  color: rgba(var(--clr-dark / 0.4));
  background-color: rgba(var(--clr-dark) / 0.4);
  border: 0;
}

#search input {
  width: clamp(11rem, 100%, 24rem);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--clr-dark) / 0.2);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: rgb(var(--clr-dark) / 0.2);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb,
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  width: 1rem;
  height: 1rem;
  background: rgb(var(--clr-accent));
  cursor: pointer;
}

#search-button {
  margin-top: 2rem;
  cursor: pointer;
  outline: 1.5px solid rgb(var(--clr-dark));
  color: rgb(var(--clr-dark));
  background-color: transparent;
  border-radius: 0.3rem;
  border: 0;
}

#search-button:hover {
  outline: 1.5px solid rgb(var(--clr-accent));
  color: rgb(var(--clr-accent));
  background-color: rgb(var(--clr-dark));
  transition: all 300ms ease-in-out;
}

#products-grid {
  height: 100%;
  flex: 0.8;
  background-color: rgb(var(--clr-white));
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1.5rem;
  padding: 5rem;
}

.grid-item {
  display: grid;
  position: relative;
  border-radius: 1rem;
  background-color: rgb(var(--clr-white));
  color: rgb(var(--clr-dark));
  box-shadow: 2px 3px 8px 1px rgba(var(--clr-dark) / 0.2);
  height: 20rem;
  padding-top: 0.5rem;
  grid-template-rows: repeat(8, 1fr);
  place-items: center;
  grid-template-areas: "product-img" "product-img" "product-img" "product-img" "product-title" "product-title" "product-price" "add-to-cart";
}

.products-img {
  grid-area: product-img;
  max-height: 100%;
}

.products-title {
  grid-area: product-title;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  max-height: 200px;
}

.products-title:hover {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  transition: color 0.2s ease-in-out;
}

.products-price-rating {
  grid-area: product-price;
  width: 100%;
  padding-inline: 1.5rem;
  justify-content: space-between;
}

.products-rating {
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.products-rating > img {
  height: 1rem;
  position: relative;
  bottom: 0.1rem;
}

.products-add-to-cart {
  grid-area: add-to-cart;
  position: absolute;
  bottom: 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  border: none;
  background-color: rgb(var(--clr-accent));
  cursor: pointer;
}

/* Cart page */

#cart-page {
  justify-content: center;
  padding: 2rem;
  place-items: center;
}

#cart-proceed {
  text-decoration: none;
  color: rgb(var(--clr-dark));
  background-color: rgb(var(--clr-accent));
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

#cart-products-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-height: fit-content;
  border-radius: 1rem;
  background-color: rgb(var(--clr-white));
  color: rgb(var(--clr-dark));
  box-shadow: 2px 3px 8px 1px rgba(var(--clr-dark) / 0.2);
  padding: 2rem;
  justify-content: center;
}

#cart-products-section hr {
  color: rgb(var(--clr-dark) / 0.05);
}

.cart-product-card {
  margin-top: 1rem;
  max-width: 40rem;
  max-height: 12rem;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "cart-product-img cart-product-title cart-product-title cart-product-title" "cart-product-img cart-product-price cart-product-count cart-product-total";
}

.cart-product-img {
  grid-area: cart-product-img;
  max-width: 40%;
}

.cart-product-title {
  grid-area: cart-product-title;
}

.cart-product-price {
  grid-area: cart-product-price;
}

.cart-product-count {
  grid-area: cart-product-count;
}

.cart-product-total {
  grid-area: cart-product-total;
}

.cart-counter {
  max-width: 100%;
}

.counter-button {
  border: 0rem;
  width: clamp(1rem, 30%, 2rem);
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.counter-input {
  width: clamp(2rem, 100%, 4rem);
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  border-color: rgb(var(--clr-dark) / 0.2);
}

.counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart-remove-product {
  cursor: pointer;
  color: rgb(var(--clr-danger));
  outline: 2px solid rgb(var(--clr-danger));
  background-color: transparent;
  border-radius: 0.3rem;
  border: 0;
  padding: 0.4rem;
  padding-inline: 0.5rem;
}

/* Home page *************************** aya */

/*Nav bar and footer**/

#nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav-links,
#footer-links {
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#nav-links a,
#footer-links a {
  display: block;
  text-align: center;
  padding: 16px;
  color: inherit;
  text-decoration: none;
  margin: auto;
}

#nav-links a:hover,
#footer-links a:hover {
  color: rgb(var(--clr-accent));
}

#nav-logo {
  padding: 16px;
  margin-left: 1em;
  margin: auto;
  justify-self: flex-start;
  align-self: flex-start;
}

.icon {
  width: 30px;
  height: fit-content;
  margin-left: 1rem;
}
#nav-list {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  padding: auto;
  margin: auto;
}
#nav-signin {
  margin-left: 1rem;
}

#footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3rem;
  padding: 3rem;
}

#about {
  font-size: small;
}

.hide {
  align-self: center;
  margin-right: 10px;
  /* display: none; */
  visibility: hidden;
}

/*Header**/

.header-img {
  width: 100%;
  height: 400px;
}

#home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header-product-info {
  float: left;
  width: 30%;
  margin-top: -300px;
  margin-left: 3em;
  margin-right: 3em;
  z-index: 10000;
  text-align: center;
}

#product-button {
  border: none;
  margin: 2em;
}

.header-slide {
  display: none;
}

.active {
  display: block;
}

.scroll-btn-next,
.scroll-btn-pre {
  z-index: 10000;
  position: absolute;
  top: 50%;
  width: 100px;
  padding: 16px;
  margin-top: -22px;
  margin-right: 10px;
  transition: 0.6s ease;
  user-select: none;
}

.scroll-btn-next {
  right: 0;
}

/*Categories container*/

#home-categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10rem;
}

.flex-item {
  width: 200px;
  height: 100px;
  margin: 2rem;
  margin-bottom: 7rem;
  border-radius: 20%;
  background-color: rgb(var(--clr-accent));
  box-shadow: 2px 3px 8px 1px rgba(var(--clr-dark) / 0.2);
}

.scroll-catego-next,
.scroll-catego-pre {
  width: 30px;
  align-self: center;
}

.categories-image {
  width: 200px;
  height: 180px;
  z-index: 10000;
  margin-top: -5rem;
  padding-bottom: 1rem;
  background-color: rgb(var(--clr-white));
}

.headline {
  margin-left: 2rem;
}
.anchor_style {
  text-decoration: none;
  color: rgb(var(--clr-black));
}
.categories-headline {
  text-align: center;
}

.home-container {
  max-width: 80%;
  margin: auto;
}
.flexing-row {
  display: flex !important ;
  flex-direction: row !important;
  margin: auto !important;
}
@media only screen and (max-width: 60em) {
  /* For tablets: */
  #nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
  }

  .hide {
    visibility: visible;
    align-self: flex-end;
  }

  /* .icon {
    margin: auto;
  } */
  #nav-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-end;
    align-content: flex-end;
  }
}

/*Product Page*/

.product-description {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  gap: 1rem;
}

#hr {
  border: 0.3px rgb(var(--clr-dark));
  box-shadow: 2px 3px 8px 1px rgba(var(--clr-dark) / 0.2);
}

select {
  border-radius: 10px;
  box-shadow: 2px 3px 8px 1px rgba(var(--clr-dark) / 0.2);
}

.descrip {
  max-width: 100%;
  text-align: center;
  column-count: 2;
  column-gap: 40px;
}

.product-page-image {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 2px 3px 8px 1px rgba(var(--clr-dark) / 0.2);
}

.product-page-to-cart-button {
  border: none;
  border-radius: 8px;
  box-shadow: 2px 3px 8px 1px rgba(var(--clr-dark) / 0.2);
  margin: auto;
}

.product-detials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.product-rating > img {
  height: 1rem;
  align-self: center;
}

/*////////////////// mobile (sign in and sign up)///////////////*/

@media only screen and (max-width: 764px) and (min-width: 280px) {
  .mainscreen_sign {
    width: 98vw;
    /* height: 120vh; */
    background-color: rgb(255, 203, 5);
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mainscreen_leftpart_sign {
    width: 98vw;
    height: 30vh;
    background-color: rgb(255, 203, 5);
  }
  .mainscreen_rightpart_sign {
    width: 98vw;
    background-color: rgb(var(--clr-white));
    border-radius: 20px 20px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(var(--clr-white));
  }
  .form_div_class {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .form_div_class_2items {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .title {
    font-size: var(--fs-600);
    font-family: var(--ff-serif);
    width: 40%;
    height: 50px;
    background-color: rgb(var(--clr-accent));
    color: rgb(var(--clr-black));
    text-align: center;
    border-radius: 10px;
  }
  .submitcolor {
    background-color: rgb(var(--clr-accent));
    border-radius: 10px;
  }
  .nonsubmitcolor {
    background-color: rgb(12, 12, 12);
    border-radius: 10px;
    color: rgb(var(--clr-white));
  }
  .title_button_color {
    background-color: rgb(var(--clr-white));
    border-radius: 10px;
    color: rgb(var(--clr-black));
    box-shadow: 0 4px 8px 0 rgba(var(--clr-black) / 0.2),
      0 6px 20px 0 rgba(var(--clr-black) / 0.19);
    height: 50px;
  }
  .bar_signup {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(var(--clr-black));
  }
  .f_bar {
    width: 40%;
    height: 1px;
    background-color: gray;
  }
  .signlink {
    align-self: flex-start;
    margin-left: 20px;
  }
  /* //////////////left part///////// */
  .leftpart_logo {
    width: 100%;
    height: 100%;
  }
  /*////////////////cheackout//////*/
  .mian_cheackout {
    width: 95vw;
    height: 80vh;
    background-color: rgb(255, 203, 5);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(var(--clr-black) / 0.2),
      0 6px 20px 0 rgba(var(--clr-black) / 0.19);
    margin: auto;
    margin-top: 2.5 vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .child_cheackout {
    width: 95%;
    height: 70%;
    background-color: rgb(var(--clr-white));
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(var(--clr-black) / 0.2),
      0 6px 20px 0 rgba(var(--clr-black) / 0.19);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
  }
  .proces {
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
  }
  .linespace {
    width: 25%;
    height: 2px;
    background-color: rgb(var(--clr-black));
  }
  .form_div_class_checkout {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: auto;
  }
  /* //////////////done order */
  .correct {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
